@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inder", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

/* hover:scale-105 transform transition duration-300 cursor-pointer */