@plugin "daisyui";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



@plugin "daisyui" {
  themes: ["light", "dark"];
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: "Inder", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.btn {
  @apply px-8 text-center bg-[#F8B864] rounded-full text-base text-white font-semibold border border-transparent hover:border-[#F8B864] hover:bg-white hover:text-[#F8B864] transition duration-300;
}

.title {
  @apply text-[#464646] text-center font-semibold text-2xl
}

.description {
  @apply text-[#464646] text-base mx-auto text-center
}


/* hover:scale-105 transform transition duration-300 cursor-pointer */