@plugin "daisyui";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



@plugin "daisyui" {
  themes: ["light", "dark"];
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: "Inder", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

/* hover:scale-105 transform transition duration-300 cursor-pointer */